<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inmobiliaria Avaca</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Inmobiliaria Avaca</a>*@
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @if (!User.Identity.IsAuthenticated)
                {
                    <a class="py-2 align-bottom align-content-center" asp-controller="Home" asp-action="Index"><span class="lnr lnr-home"></span> Inicio</a>
                    <a class="py-2 d-none d-md-inline-block float-right" href="@Url.Link("login", null)"><span class="lnr lnr-enter"></span> Acceder</a>
                }
                else
                {

                    <a class="btn btn-primary  text-light" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i> Inicio
                    </a>

                    @if (User.IsInRole("Administrador") || User.IsInRole("SuperAdministrador"))
                    {
                        <a class="btn btn-info mx-1 nav-link text-dark" asp-controller="Usuario" asp-action="Index">Usuario <i class="fas fa-house-user"></i></a>
                    }
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="btn btn-info mx-1 nav-link text-dark" asp-area="" asp-controller="Inquilino" asp-action="Index">Inquilinos <i class="fas fa-house-user"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-info mx-1 nav-link text-dark" asp-area="" asp-controller="Propietario" asp-action="Index">Propietarios<i class="fas fa-user-tie"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-info mx-1 nav-link text-dark" asp-area="" asp-controller="Inmueble" asp-action="Index">Inmuebles <i class="fas fa-building"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-info mx-1 nav-link  nav-link text-dark" asp-area="" asp-controller="Garante" asp-action="Index">Garantes <i class="fas fa-user-check"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-info mx-1 nav-link  nav-link text-dark" asp-area="" asp-controller="Contrato" asp-action="Index">Contratos <i class="fas fa-file-signature"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-info mx-1 nav-link  nav-link text-dark" asp-area="" asp-controller="Pago" asp-action="Index">Pago <i class="fas fa-file-signature"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-info mx-1 nav-link  nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacidad <i class="fas fa-user-shield"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <a class="btn btn-primary dropdown-toggle text-light" href="#" role="button" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent" data-display="static">
                            <span class="lnr lnr-user"></span> @User.Identity.Name
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item text-dark" asp-controller="Usuario" asp-action="Perfil"><i class="lnr lnr-user"></i> Perfil</a>
                            <a class="dropdown-item text-dark" asp-controller="Usuario" asp-action="Logout"><i class="lnr lnr-exit"></i> Salir</a>
                        </div>
                    </div>
                }

            </div>
        </nav>
    </header>
    @if (ViewBag.Error != null)
    {
        <div class="container">
            <main role="main" class="pb-3">

                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>ERROR: </strong> @ViewBag.Error
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"></span><i class="fas fa-times-circle"></i>
                    </button>
                </div>

            </main>
        </div>
    }
    @if (ViewBag.Message != null)
    {
        <div class="container">
            <main role="main" class="pb-3">

                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    <strong>Mensaje: </strong> @ViewBag.Message
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"></span><i class="fas fa-times-circle"></i>
                    </button>
                </div>

            </main>
        </div>
    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Inmobiliaria Avaca - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacidad</a>
        </div>
    </footer>
    @{
        <script type="text/javascript">
            function confirmacion() {
                return confirm("Esta seguro de eliminar");
            }
        </script>
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js" integrity="sha512-Tn2m0TIpgVyTzzvmxLNuqbSJH3JP8jm+Cy3hvHrW7ndTDcJ1w5mBiksqDBb8GpE2ksktFvDB/ykZ0mDpsZj20w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
