@model Avaca_Mario_Inmobiliaria.Models.Contrato

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>Esta seguro de eliminar este contrato?</h3>
<div>
    <h4>Contrato</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaFin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inquilino.DNI) @Html.DisplayNameFor(model => model.Inquilino.Apellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inquilino.DNI) @Html.DisplayFor(model => model.Inquilino.Apellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Garante.DNI) @Html.DisplayNameFor(model => model.Garante.Apellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Garante.DNI) @Html.DisplayFor(model => model.Garante.Apellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inmueble.Direccion) @Html.DisplayNameFor(model => model.Inmueble.Precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inmueble.Direccion) @Html.DisplayFor(model => model.Inmueble.Precio)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar a la Lista</a>
    </form>
</div>
